.processSection {
  margin-bottom: 120px;
  position: relative;
  overflow-x: clip; /* Обрезает линии, если они улетают за экран */
  color: #fff;
}

.roadMapContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 36px 46px 0 108px;
}

.sectionLabel {
  margin-bottom: 52px;
}

/* СЕТКА */
.stepsContainer {
  position: relative;
  display: grid;
  grid-template-columns: 45% 55%; /* Две колонки */
  row-gap: 0;
  width: 100%;
  /* margin: 0 auto; */
}

/* КАРТОЧКА ШАГА */
.stepItem {
  position: relative;
  width: 100%;
  max-width: 560px;
  /* Границ нет, но позиционирование relative важно для линий */
}

/* Левая колонка */
.leftCol {
  grid-column: 1 / 2;
  text-align: left;
  /* Прижимаем контент к центру (к правому краю левой колонки) */
  display: flex;
  flex-direction: column;
}

.leftContent {
  max-width: 560px; /* Ограничиваем ширину текста */
  width: 100%;
  text-align: left;
  position: relative; /* Чтобы линии позиционировались от текста */
}

/* Правая колонка */
.rightCol {
  grid-column: 2 / 3;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Сдвиг вниз для шахматки */
  margin-top: 148px; 
}

.rightContent {
  width: 100%;
  text-align: left;
  position: relative; /* Чтобы линии позиционировались от текста */
}

.stepTitle {
  font-family: var(--font-serif);
  font-size: 36px;
  font-weight: 400;
  color: #fff;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 12px;
}

.stepDesc {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3%;
  color: #fff;
  white-space: pre-line;
}

/* КОНТЕЙНЕР ДЛЯ ЛИНИИ */
.svgContainer {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  /* Размеры и отступы зададим инлайново в JS для каждой линии */
}

.svgLine {
  width: 100%;
  height: 100%;
  display: block;
  overflow: visible; /* Чтобы хвосты не обрезались */
}

.svgLine path {
  /* Если цвета нет в самом SVG, раскомментируй это: */
  /* stroke: #444; */
  /* opacity: 0.5; */
}

/* ПИН */
.pinWrapper {

}

.pinIcon {
  position: absolute;
  top: 0;
  left: -52px;
  width: 44px;
  height: 60px;
  z-index: 1000;
}

.step_2 {
  left: 86px;
}
.step_3 {
  left: 35px;
}
.step_4 {
  left: 86px;
}
.step_6 {
  margin-top: 172px;
  left: 51px;
}
.step_7 {
  max-width: 540px;
  left: 105px;
}
.step_8 {
  max-width: 576px;
  left: 70px;
}
.step_10 {
  max-width: 704px;
  left: -58px;
}

/* АДАПТИВ */
@media (max-width: 1300px) {
  .stepsContainer {
    column-gap: 80px;
    padding: 0 20px;
  }
}

@media (max-width: 900px) {
  .stepsContainer {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .leftCol, .rightCol {
    grid-column: 1 / 2;
    align-items: flex-start;
    margin-top: 0;
  }

  .step_6 {
  margin-top: 0;
}
  
  .leftContent, .rightContent {
    max-width: 100%;
  }

  /* Скрываем линии на мобильных, так как структура меняется */
  .svgContainer {
    display: none;
  }
}
