/* --- СЛАЙДЕР SWIPER --- */
.sliderSection {
  margin-bottom: 120px;
  width: 100%;
  overflow: hidden; /* Чтобы не было горизонтального скролла */
}

.sliderContainer {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  /* Убираем padding, так как стрелки теперь позиционируются от центра */
  padding: 60px 36px;
}

/* Стили самого Swiper */
.swiper {
  width: 100%;
  /* Даем отступы сверху/снизу, чтобы тень и scale не обрезались */

  overflow: hidden;
}

.slide {
  /* ВАЖНО: Фиксированная ширина картинки из макета */
  width: 496px;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slideContent {
  position: relative;
  width: 496px;
  height: 496px;

  /* НЕАКТИВНОЕ СОСТОЯНИЕ (Боковые слайды) */
  transform: scale(0.85); /* Уменьшаем боковые */
  opacity: 1; /* Прозрачность регулируем через overlay ниже */

  transition:
    transform 0.8s ease,
    opacity 0.8s ease,
    box-shadow 0.8s ease;
  overflow: hidden; /* Чтобы картинка не вылезала */
}

.slideContent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Затемнение неактивных слайдов (как на макете) */
.overlay {
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.6; /* Насколько темными будут боковые слайды */
  transition: opacity 0.8s ease;
  z-index: 1;
}

/* АКТИВНОЕ СОСТОЯНИЕ (Центральный слайд) */
.active {
  transform: scale(1); /* Полный размер */
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5); /* Тень */
  z-index: 2;
}

/* Убираем затемнение у активного слайда */
.active .overlay {
  opacity: 0;
}

/* Кнопки навигации */
.navBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  color: #fff;
  font-size: 24px;
  transform: translate(-50%, -50%);
  transition: color 0.3s;
}

.navBtn path {
  stroke-width: 4px;
}

.prevBtn {
  /* Сдвигаем влево: - (половина картинки 248px + половина отступа 48px) */
  margin-left: -296px;
  transform: translate(-50%, -50%) rotate(180deg);
}

.nextBtn {
  /* Сдвигаем вправо: + (половина картинки 248px + половина отступа 48px) */
  margin-left: 296px;
}

/* Адаптив */
@media (max-width: 1024px) {
  .slide,
  .slideContent {
    width: 350px;
    height: 350px;
  }

  .sliderContainer {
    padding: 0 20px;
  }

  .navBtn {
    display: none; /* Скрываем стрелки на тач-устройствах */
  }
}

@media (max-width: 600px) {
  .slide,
  .slideContent {
    width: 280px;
    height: 280px;
  }
}
